<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChangeDetector" version="1.0.0" targetFramework="net472" />
  <package id="EntityChange" version="4.1.0.71" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net472" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
</packages>